/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
  overflow-x: hidden;
}

.appContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-left: 150px;
}

.planHighlight {
  color: #00b894;
}

.authButtons {
  display: flex;
  gap: 15px;
  margin-right: 150px;
}

.signupButton,
.loginButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupButton {
  background-color: #00b894;
  color: white;
}

.loginButton {
  background-color: white;
  color: #00b894;
  border: 2px solid #00b894;
}

/* Main Section */
.mainSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
  gap: 100px;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content h2 {
  font-size: 75px;
  margin-bottom: 10px;
  margin-left: -190px;
  margin-top: -30px;
}

.description {
  margin-left: -190px;
  position: relative;
  font-size: 24px;
  width: auto;
}
.description p {
  margin: 0;
}

/* Expense Card */
.expenseCard {
  background-color: white;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 10px;
  max-width: 550px;
  margin-left: -190px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.headerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.amount {
  font-size: 2rem;
}

.expenses {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.expenses li {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 15px 0;
}

.expenses li:first-child {
  border-top: none;
}

.leftText {
  font-size: 1.2rem;
}

.rightAmount {
  font-size: 1.3rem;
}

/* Illustration */
.illustration {
  flex: 1;
  transform: translateX(80px);
  text-align: center;
}

.image {
  position: absolute;
  top: -30px;
  left: 50px;
  width: 750px;
  height: auto;
}

.trackerTitle {
  font-size: 48px !important;
  position: relative;
  top: 500px;
  left: -10px;
}

.trackerDescription {
  position: relative;
  top: 460px;
  left: 10px;
  font-size: 24px !important;
}
